
.header {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 550;
    margin-left: 4%;
    padding-top: 0.063rem;
}

.header h1 .material-icons {
    color: black;
    border-radius: 50%;
    padding: 0.5rem;
    margin-right: 1.25rem;
}

.header h1 button {
    margin-left: 50%;
    padding: 0.55rem;
    border-radius: 0.35rem;
    background-color: #f0f2f2;
    border-color: #f0f2f2;
}

.header h1 button .resumeDownload {
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 550;
}

.background {
    margin-top: 4%;
    background-color: #13262F;
    height: 37.5rem;
    width: 37.5rem;
}

.bioBox {
    margin-left: 30%;
    background-color: white;
    height: 1.25rem;
    width: 1.875rem;
}

.bioSection {
    position: relative;
    width: 6.25rem;
    margin: 0rem;
    left: 0rem;
}

.bioSection .bioBox {
    position: absolute;
    bottom: 3.125rem;
    left: 20.313rem;
    background: #8d9aa0;
    color: black;
    width: 23.438rem;
    height: 31.25rem;
    box-shadow: -0.625rem 0.625rem 0.938rem #0e1314;
    animation: transitionIn 1.4s;
}

.bioSection .bioBox img {
    height: 12rem;
    border-radius: 35%;
    margin-left: 7.656rem;
    margin-top: 1.875rem;
}

.bioSection .bioBox h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.563rem;
    font-weight: 550;
    text-align: center;
    margin-top: 2.75rem;
}

.bioSection .bioBox hr {
    width: 4.375rem;
    margin-top: 2.5rem;
}

.bioSection .bioBox h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.188rem;
    font-weight: 350;
    text-align: center;
    margin-top: 2.125rem;
    margin-bottom: 3.875rem;
    text-transform: capitalize;
    letter-spacing: 0.438rem;
}

.bioSection .bioBox .allIcons {
    background-color: white;
}

.bioSection .bioBox .fa {
    font-size: 1.563rem;
    padding: 0.875rem;
    color: black;
}

.fa-facebook {
    margin-left: 5.313rem;
    width: 0.938rem;
}

.bioSection .background .description p {
    margin-left: 51.25rem;
    padding-top: 10.625rem;
    width: 25rem;
    height: 12.5rem;
    word-spacing: 0.438rem;
    line-height: 1.875rem;
    font-family: 'Raleway', sans-serif;
    font-size: 0.938rem;
    font-weight: 370;
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.edTitle {
    font-family: 'Raleway', sans-serif;
    font-weight:900;
    margin-bottom:1rem;
    margin-top:4rem;
    text-align:center;
}

.edTitle .material-icons {
    font-size:3rem;
    color: #13262F;
}

.schoolSection .schoolText ul {
    margin-left: 5rem;
    height: 15rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 80%;
    background-color: #f0f2f2;
    word-spacing: 0.1rem;
    line-height: 1.875rem;
    font-family: 'Raleway', sans-serif;
    font-size: 0.938rem;
    font-weight: 470;
}

.addSection {
    margin-top: 6rem;
}

.addTitle {
    font-family: 'Raleway', sans-serif;
    font-weight:900;
    margin-bottom:1rem;
    margin-top:4rem;
    text-align:center;
}

.addTitle .fa-address-book {
    font-size:3rem;
    color: #13262F;
}

.addSection .addText ul {
    margin-left: 5rem;
    height: 6rem;
    margin-top:-5rem;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 80%;
    background-color: #f0f2f2;
    word-spacing: 0.1rem;
    line-height: 1.875rem;
    font-family: 'Raleway', sans-serif;
    font-size: 0.938rem;
    font-weight: 470;
}

.workTitle {
    font-family: 'Raleway', sans-serif;
    margin-bottom:1rem;
    margin-top:4rem;
    font-weight:900;
    text-align:center;
}

.workTitle .material-icons {
    font-size: 3rem;
    color: #13262F;
}

.workSection .workText ul {
    margin-left: 5rem;
    height: 22rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 80%;
    background-color: #f0f2f2;
    word-spacing: 0.1rem;
    line-height: 1.875rem;
    font-family: 'Raleway', sans-serif;
    font-size: 0.938rem;
    font-weight: 470;
}

.extraTitle {
    font-family: 'Raleway', sans-serif;
    font-weight:900;
    margin-top:4rem;
    margin-bottom:1rem;
    text-align:center;
}

.extraTitle .fa-group {
    font-size: 3rem;
    color: #13262F;
}

.curricSection .curricText ul {
    margin-left: 5rem;
    height: 28rem;
    padding-top: 3em;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 80%;
    background-color: #f0f2f2;
    word-spacing: 0.438rem;
    line-height: 1.875rem;
    font-family: 'Raleway', sans-serif;
    font-size: 0.938rem;
    font-weight: 470;
}

.bottomHeader {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    margin-top:4rem;
}

input[type=text], .container textarea {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding: 0.75rem;
    border: 0.063rem solid #ccc;
    border-radius: .25rem;
    box-sizing: border-box;
    margin-top: .375rem;
    margin-bottom: 1rem;
    resize: vertical
}

input[type=submit], .container .submitButton {
    background-color: #04AA6D;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: .75rem 1.25rem;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
}

input[type=submit], .container .submitButton:hover {
    background-color: #45a049;
}

.container {
    font-family: 'Raleway', sans-serif;
    margin-top: -1rem;
    border-radius: .313rem;
    background-color: #f2f2f2;
    padding: 1.25rem;
}

input[type=text], .container2 textarea {
    width: 25%;
    font-family: 'Raleway', sans-serif;
    padding: 0.75rem;
    text-align: left;
    border: 0.063rem solid #ccc;
    border-radius: .25rem;
    box-sizing: border-box;
    margin-top: .375rem;
    margin-bottom: 1rem;
    resize: vertical
}

input[type=submit], .container2 .submitButton5 {
    background-color: #04AA6D;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: .75rem 1.25rem;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
}

input[type=submit], .container2 .submitButton5:hover {
    background-color: #45a049;
}

.container2 {
    font-family: 'Raleway', sans-serif;
    margin-top: -3rem;
    text-align: center;
    border-radius: .313rem;
    padding: 1.25rem;
}

a:link {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

a:visited {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

a:active {
    cursor: pointer;
    color: black;
    text-decoration: none;
}
